body {
    font-size: 20px;
}

@media (max-width: 800px) {
    body {
        font-size: 16px;
    }

    p {
        font-size: ;
    }
}

@media (max-width: 575.98px) {
    body {
        font-size: 12px;
    }

    p {
        margin: 1rem 2rem;
    }
}

.bg-black {
    background-color: black;
}

.bg-dark {
    background-color: #1B1B1B !important;
}

.btn-primary, .btn-primary:link, .btn-primary:visited, .btn-primary:active, .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary.disabled, .btn-primary:disabled, 
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle, .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    color: #000000;
    background-color: #F9C200;
    border-color: #F9C200;
}

.text-primary {
   color: #F9C200 !important;
}

h1 {
    letter-spacing: 2px;
    word-spacing: 1px;
    font-weight: 400;
    line-height: 1.3 !important;
}

h2 {
    font-weight: 300;
    font-size: 130%;
}



.bg-tertiary {
    background-color: #e8e8e8 !important;
}

.btn-dark, .btn-dark:hover {
    color: #fff;
    background-color: black;
    border-color: black;
}

.text-black {
    color: #000000;
}

.rectangle {
    position: absolute;
    width: 113px;
    height: 107px;
    left: 554px;
    top: 2635px;
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
    background-color: #F9C200;
    color: #F9C200;
}

@media (max-width: 575.98px) {
    h1 {
        font-size: 200%;
        margin: 0 1rem;
    }

    h2 {
        font-size: 120%; 
        margin: 0 2rem;       
    }
}

@media (max-width: 800px) {
    .btn-md-1 {
        padding: 0.35rem 0.75rem;
        font-size: 1rem;
        line-height: 1.8;
        border-radius: 0.4rem;
    }
}

@media (max-width: 575.98px) {
    .btn-sm-1 {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        line-height: 1.5;
        border-radius: 0.2rem;
    }
}

.br {
    border: 2px solid #e67e22;
    border-radius: 50%;
    display: inline-block;
    padding: 5px;
    height: 55px;
    width: 55px;
    float: left;
    
}

.ideas-commute {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/Ideas-commute.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 65vh;
}

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav a:link,
.footer-nav a:visited,
.social-links a:link,
.social-links a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}